<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Patients</h1>
    <link rel="stylesheet" href="static/user/payment.css">

</head>
<body>
    <table >
        <thead>
            <tr>
                <th>USer Id</th>
                <th>Name</th>
                <th>contact_number</th>
                <th>TableNO</th>
                <th>Price</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
            
        </tbody>
    </table>
    <form method = "post" action = "{{url_for('direct_page')}}">
        <button  class = "button" type = "submit" name = "button_clicked" value = "btn1">home</button>
    </form>
</body>
    
    <br><br>
